<div class="post-wrap">
  <% @posts.each do |post| %>
    <div class="post-box">
      <% if post.user.present? %>
        <% if post.user.profile_photo.attached? %>
          <%= image_tag(post.user.profile_photo, size: "200x200") %>
        <% else %>
          <%= image_tag('/assets/no_image.png', size: "200x200") %>
        <% end %>
        <%= post.user.name %>
        <% if post.user.age.present? %>
          <%= post.user.age %>
        <% end %>
        <% if post.user.sex.present? %>
          <%= post.user.sex %>
        <% end %>
      <% else %>
        <%= image_tag('/assets/no_image.png', size: "200x200") %>
        <p>ユーザー情報がありません</p>
      <% end %>

      <h4 class="post-heading">好きなカラオケのジャンル（またはよく歌うカラオケのジャンル）</h4>
      <p class="post-content"><%= post.genre %></p>

      <h4 class="post-heading">記入欄</h4>
      <p class="post-content"><%= post.message %></p>

      <h4 class="post-heading">写真</h4>
      <% if post.photo.attached? %>
        <%= image_tag(post.photo) %>
      <% end %>

      <p class="post-date"><%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
    </div>
    <hr class="post-hr">
  <% end %>
</div>