<%= form_with(model: @post, url: post_path(@post), method: 'patch') do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <h4>好きなカラオケのジャンル（またはよく歌うカラオケのジャンル）</h4>
  <%= f.select :genre, [["J-POP"], ["アニソン"], ["K-POP"], ["ボーカロイド"], ["演歌"], ["洋楽"], ["その他"]] %>

  <h4>記入欄</h4>
  <%= f.text_area :message %>

  <h4>写真のアップロード</h4>
  <%= f.file_field :photo %>

  <%= f.submit '更新する' %>
<% end %>